
.home-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2.25rem; 
  }
  
  .home-subtitle {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 1.25rem; 
    font-size: 1.5rem; 
  }
  